<!-- <div class="secondary_filter">
  <div class="searchresults">
  </div>
</div> -->

<%= paginate @influencers %>
<div class="inf-container">
  <div class="inf-card-grid">
    <% @influencers.each do |influencer| %>
      <%= render 'components/inf-card', influencer: influencer %>
    <% end %>
  </div>
  <div class="inf-data">
    <%= link_to "Select", new_mailing_path, class: "btn btn-primary", id: "stupid_button" %>
  </div>
</div>
<%= paginate @influencers %>

<!-- - Make the button hidden, show it after the guy selects one influencer
- Make the influencer go out of the array when de-selects
- Instead of a window alert, use a modal or something like that, more pretty -->

<% content_for(:after_js) do %>
  <script>
    const myArray = [];
    document.querySelectorAll(".inf-selector").forEach((field) => {
      field.addEventListener("click", (event) => {
        event.currentTarget.classList.toggle("active");
        // myArray.push(field.id);

        if (myArray.includes(field.id)) {
          let x = myArray.findIndex(x => x == field.id);
          myArray.splice(x, 1);
        } else {
          myArray.push(field.id);
        };

      });
    });

    const button = document.getElementById("stupid_button");
    button.addEventListener("click", (event) => {
      if (myArray.length == 0) {
        event.preventDefault();
        window.alert("Select influencers before moving on!!!");
      } else {
        event.currentTarget.href += `?influencers_ids=${myArray}`
      }

    });
  </script>
<% end %>
