<!-- <div class="container">
<h1>EMAILS SENT:</h1>
<p><%= @mailing.brand.email %></p>
<p><%= @mailing.content %></p>
</div> -->
<div class="container" style="height: 400px">
<div class="message">
  <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
  <div class="message-name">
    <h3>Gab Dehan</h3>
    <p>10/07/17</p>
  </div>
  <div class="message-body">
    <p><strong>Influencer Marketing Campaign April 2018, 1.0</strong></p>
    <p>
      <%= @mailing.content %>
    </p>
  </div>
  <div class="message-status">
    <p class="status pending">Influencers contacted</p>
    <p class="Reach">6</p>
  </div>
</div>
</div>
