  <div class="footer">

    <div class="row">
      <div class="col-xs-6">
        <div class="site-footer-top-left">
          <h2>GO DO IT</h2>
          <br>
          <h2>BECOME A PARTNER</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="site-footer-top-right">
          <div class="site-footer-nav">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="site-nav-list-item">
                  <a href=""><h2>About Cradio</h3></a>
                  <ul>
                    <li><a href="#">Organisation</a></li>
                    <li><a href="#">Impact report</a></li>
                    <li><a href="#">Governance</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">Carrier</a></li>
                    <li><a href="#">Join us</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <a href=""><h2>News and Events</h3></a>
                <div class="site-nav-list-item">
                  <ul list-style: none>
                    <li><a href="#">News and articles</a></li>
                    <li><a href="#">Stories</a></li>
                    <li><a href="#">Events</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="site-social">
              <div class="footer-links">
                <a href="#"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-twitter-square"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>

</div>

