<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook-square"></i></a>
    <div class="footer-contact hidden-xs hidden-sm">
      <a href="/contact">Contact</a>
    </div>
  </div>
  <div class="footer-copyright">
    meaningful influencer marketing <i class="fa fa-heart"></i> crad.io
  </div>
</div>
