<div class="inf-card">
  <div class="inf-header">
    <%= image_tag 'http://placehold.it/30', class: 'avatar' %>
    <div class="inf-title">
      <%= influencer.full_name %>
    </div>
  </div>

  <div class="inf-content">
    <p><%= influencer.followers_count %> seguidores</p>
  </div>

  <div class="inf-footer">
    <i class="fab fa-instagram"></i>
    <%= influencer.username %>
  </div>
</div>
