<div class="inf-card">
  <div class="inf-header">
    <%= image_tag 'http://placehold.it/120', class: 'avatar' %>
    <div class="inf-title">
      <%= influencer.full_name %>
      <div class="inf-info">
        <i class="fab fa-instagram"></i>
        <%= influencer.username %>
      </div>
    </div>
  </div>

  <div class="inf-content">
    <p><%= influencer.ig_followers %> followers</p>
  </div>

  <div class="inf-footer">
  </div>
</div>
