<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <h2>Crad.io</h2>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <% if brand_signed_in? %>
      <%= link_to 'Logout', destroy_brand_session_path, class: 'navbar-wagon-item navbar-wagon-link', method: 'delete' %>
    <% elsif admin_signed_in? %>
      <%= link_to 'Dashboard', admin_dashboard_path, class: 'navbar-wagon-item navbar-wagon-link' %>
      <%= link_to 'Admin logout', destroy_admin_session_path, class: 'navbar-wagon-item navbar-wagon-link', method: 'delete' %>
    <% elsif controller.action_name != 'landing_page' %>
      <%= link_to 'Login / Signup', new_brand_session_path, class: 'navbar-wagon-item navbar-wagon-link' %>
    <% end %>
  </div>
</div>
