#cradLandingpage {

      font-family : 'Montserrat', sans-serif;
      font-size   : 16px;
      line-height : 26px;
      color       : #fff;
      font-weight : 400;
      margin: 0;
}
  /*--------------------------------------
   * TYPOGRAPHY
   *--------------------------------------*/
.landingpage {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
      font-size   : 50px;
      line-height: 1;
      margin: 0;
      color       : #fff;
      }
  h2{
      font-size: 60px;
      font-weight: normal;
       color       : #fff;
  }

  h3{
      font-size: 25px;
      font-weight: normal;
       color       : #fff;
  }
}



  /*-------------------------------------------------------------
   * Countdown
   *-------------------------------------------------------------*/
  .countdown-wrapper {
      margin: 20px 0 50px;
  }

  #back-countdiown{
      color: #fff;
      padding: 0;
  }

  #back-countdiown div {
      display: inline-block;
      margin-right: 15px;
      text-align: center;
      border: 3px solid rgba(255,255,255,.7);
      border-radius: 2%;
      position: relative;
  }



  #back-countdiown div:last-child {
    margin-right: 0
  }
  #back-countdiown div span {
      display: block;
      font-size: 50px;
      padding: 0 35px;
      font-weight: 700;
  }
  #back-countdiown div p{
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 300;
      margin: 0;
      padding: 10px 0;
      color: #fff;
      border-top: 1px solid rgba(255,255,255,.7);
  }
  #back-countdiown div span:hover {
      cursor: pointer;
  }



  .fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
  }

  .landingpage {
    height: 80vh;
    display:flex;
    flex-direction: column;
  }




