.mail_text_field {
  rows: 10;
  background-color: white;
  color: grey;
}

// .messenger {
//   flex: 0 0 450px;
//   // height: 100vh;
//   position: sticky;
//   top: 0;
// }

.mailings-content {
  display: flex;
  background-color: #FAFAFA;
  // padding-left: 0px;
  // padding-right: 30px;
  // height: 100%;
}

.mailings-list {
  flex: 0.1 0 auto;
  padding-top: 16px;
}

.mailings-form {
  padding-top: 32px;
  padding-left: 32px;
  width: auto;
  flex: 1 0 auto;
}

.sticky-mailing {
  position: sticky;
  top: 86px;
  align-self: flex-start;
}

.link-without-decoration:hover {
  text-decoration: none;
}
