<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-push-4">
      <%= simple_form_for :search, url: admin_influencers_path, method: :get do |f| %>
        <%= f.input :bio, as: :string, required: false %>
      <% end %>
    </div>
  </div>
</div>
