<%= render 'components/banner' %>
<%= image_tag ("screenshot-macbook.png") %>

<div class="usp_container">
  <div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-4">

          <div class="usp_card">
            <a class="usp_symbol" href="#"><i class="far fa-gem fa-7x"> </i></a>
            <div class="usp_card-description">
              <h2>Influencer</h2>
                <h2 class="margin-top-zero">Search</h2>
                <div class="text">
                  <p>Poser Influencer Search engine.Find influencers by
                  number of followers, location(brasil) and Interests.</p>
                </div>
            </div>
          </div>

        </div>

      <div class="col-xs-12 col-sm-4">


        <div class="usp_card">
          <a class="usp_symbol" href="#"><i class="fas fa-envelope fa-7x"> </i></a>
          <div class="usp_card-description">
            <h2>Build in</h2>
            <h2 class="margin-top-zero">messenger</h2>
             <div class="text">
                <p>Contact multiple Influencers at a time via your
                crad.io account. Simple, fast, and secure.</p>
              </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">

        <div class="usp_card">
          <a class="usp_symbol" href="#"><i class="fas fa-leaf fa-7x"> </i></a>
          <div class="usp_card-description">
            <h2>Social</h2>
            <h2 class="margin-top-zero">purposes</h2>
             <div class="text">
                <p>You can search by what social purpose the influencer
                is driven by.</p>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
