<div  class="fullscreen-bg" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path 'slack-imgs.jpg' %>); background-size: cover;">
    </div>

<div class="landingpage container ">
  <header class="header" style="margin-top: 30px;">
    <h2>Sustainability in Influencer Marketing</h2>
    <h3 style="color:white">We match brands and Influencers with an interest in social and environmental purposes</h3>
  </header>
<!--
  <div style="padding-top: 40px;"><a href="https://www.meetup.com/de-DE/Le-Wagon-Rio-de-Janeiro-Coding-Bootcamp/events/249460587/" target="blank"><img src="https://secure.meetupstatic.com/photos/event/2/c/5/a/highres_470231354.jpeg" width="300px"></a></div> -->

  <section class="countdown-wrapper" style="padding-top: 10px;">
    <a href="https://www.meetup.com/de-DE/Le-Wagon-Rio-de-Janeiro-Coding-Bootcamp/events/249460587/" target="blank">
        <ul id="back-countdiown">
          <li>
            <span class="days" style="margin-bottom: -60px;">Meet us:</span>
            <span class="days" style="margin-bottom: -60px;">20 April, 2018 - 5:00pm </span>
            <span class="days" style="margin-bottom: -60px;">@WeWork Ipanema</span>
          </li>
        </ul><!-- #back-countdiown -->
    </a>
      </section><!-- .countdown-wrapper -->

</div>

<!--   <section class="countdown-wrapper">
        <ul id="back-countdiown">
          <li>
            <span class="days"> 20 April, 2018 - 5:00pm </span>
          </li>
        </ul><!-- #back-countdiown -->
      <!-- </section> --><!-- .countdown-wrapper -->
</div>
