
.card {
  height: 250px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 20px;
  padding: 0px;
  box-shadow: 2px 1px 17px 0px rgba(143,143,143,0.67);
}

.card-description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width:100%;
  background-color:white;
  height:50px;

  .btn btn-primary {
    position: absolute;
  }

}
.card-description h2 {
  font-size: 18px;
  margin: 0px;
  color:#11303e;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: -2 !important;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}

.form-selectbox {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  background-color: white;
}

.selection_field{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  z-index: 5 !important;
  cursor: pointer;
}

.selection-field-circle {
  border-radius: 50%;
  border-color: #EA338C;
  border-width: 4px;
}

// .selection_field:hover{
//    background-color: green;
// }
// # the selectbox should have a hover effect



