.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 350px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);

  h3 {
    display: inline-block;
  }
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-instagram .fa-facebook .fa-twitter .fa-linkedin {
  color: #FF1467;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.site-footer-top-left {
  width: 625px;;
  height: 350px;
  justify-content: center;
  // background-image: url(<%= asset_path("footer-image.jpg") %>);
  background-repeat: no-repeat;
  background-image: cover;
}
.site-footer-top-right {
  width: 625px;
  height: 350px;
  justify-content: center;
  font-color: rgba(0,0,0,1)
}
.site-footer-nav {
  margin-left: 80px;
  margin-bottom: 30px;
}

.footer-links {
  padding-right: 15px;
}
