// Container and outer spacings
$inf-gutter: 24px;
$inf-cards-per-row: 4;

// Cards
$inf-avatar-size: 40px;
$inf-avatar-offset: 4px;
$inf-card-padding: 12px;
$inf-card-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
$inf-card-divider: 1px solid #f0f0f0;
$inf-card-strong-weight: 600;

.inf-container {
  display: flex;
}

.inf-data {
  flex-shrink: 0;
  width: 360px;
}

// Separate above on a different file later

.inf-card-grid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(337px, 1fr));
  grid-gap: $inf-gutter;
  padding: $inf-gutter;
}

.inf-more-info {
  font-size: 12px;
  opacity: 0.7;
  display: none;
  line-height: 1;
}

.inf-card {
  box-shadow: $inf-card-shadow;
  font-size: 16px;
  font-family: $instagram-font-family;

  label {
    font-weight: normal;
    display: block;
    margin: 0;
  }

  &:hover {
    .inf-more-info {
      display: inline;
    }

    box-shadow: 0 1px 2px transparentize($brand-primary, 0.65);
  }

  img {
    max-width: 100%;
  }

  strong {
    font-weight: $inf-card-strong-weight;
  }
}

.inf-header {
  display: flex;
  align-items: center;
  padding: $inf-card-padding;
  // border-bottom: $inf-card-divider;
  line-height: 18px;
  position: relative;
  cursor: pointer;

  .avatar {
    width: $inf-avatar-size;
    margin-right: $inf-card-padding;
  }

  &:hover {
    background-color: lighten($brand-primary, 39%);
    color: darken($brand-primary, 30%);

    .inf-selector {
      border-color: $pink;
      border-width: 2px;
    }
  }
}

.inf-title {
  margin-right: ($inf-avatar-size / 2) + $inf-card-padding
}

.inf-selector {
  border-radius: $inf-avatar-size / 8;
  border: 1px solid #ccc;
  margin: 0;
  position: absolute;
  top: $inf-card-padding;
  right: $inf-card-padding;
  height: $inf-avatar-size / 2;
  width: $inf-avatar-size / 2;

}

.active {
  background-color: lighten($brand-primary, 39.5%);

  .inf-selector {
    background-color: $pink;
    border-color: $pink;
  }

  // Pink circle around avatars. Needs more work
  &:after {
    position: absolute;
    top: $inf-card-padding - $inf-avatar-offset;
    left: $inf-card-padding - $inf-avatar-offset;
    content: '';
    height: $inf-avatar-size + ($inf-avatar-offset * 2);
    width: $inf-avatar-size + ($inf-avatar-offset * 2);
    border: 2px solid #FF1467;
    border-radius: 50%;
  }
}

.inf-engagement {
  color: $pink;
  font-size: 14px;
}

.inf-info {
  color: $faded-text;
  font-size: 14px;
}

.inf-subheader {
  border-bottom: $inf-card-divider;
  padding: $inf-card-padding $inf-card-padding 0;
}

.inf-subheader-data {
  line-height: 18px;
  padding-left: $inf-avatar-size + $inf-card-padding;
  margin-bottom: $inf-card-padding;

  li {
    display: inline-block;
  }

  li + li {
    margin-left: 40px;
  }
}

.inf-content {
  padding: $inf-card-padding $inf-card-padding 0;
  font-size: 14px;
}
