// Container and outer spacings
$inf-gutter: 24px;
$inf-cards-per-row: 4;

// Cards
$inf-card-padding: 8px;
$inf-card-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
$inf-card-divider: 1px solid #eee;

.inf-container {
  display: flex;
  padding: $inf-gutter;
}

.inf-data {
  width: 400px;
}

// Separate above on a different file later

.inf-card-grid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat($inf-cards-per-row, 1fr);
  grid-gap: $inf-gutter;
}

.inf-card {
  box-shadow: $inf-card-shadow;
  font-size: 16px;
}

.inf-header {
  display: flex;
  align-items: center;
  padding: $inf-card-padding;
  border-bottom: $inf-card-divider;

  .avatar {
    margin-right: $inf-card-padding;
  }
}

.inf-info {
  color: $faded-text;
  font-size: 14px;
}

.inf-content {
  border-bottom: $inf-card-divider;
  padding: $inf-card-padding $inf-card-padding 0;
}

.inf-footer {
  padding: $inf-card-padding;
  color: $faded-text;
}
